#* <<< Variables de Entorno >>>
#* 1. Haga una copia del `.env-example` y peguela en la raíz del proyecto (es vital que este en la raíz).
#* 2. Renombre el archivo copiado a ".env" y la aplicación hará el resto.

#* !!ProTip: Se recomienda llevar un orden controlado en las variables de entorno que vayan creando.

VITE_BRAND="[NOMBRE_PROYECTO]"
VITE_COPYRIGHT="Cistem Innovaci&oacute;n &reg; | Casa de Software. All Rights Reserved."
VITE_NODE_ENV="development"
VITE_PATH_LOGO_BRAND="[RUTA_ARCHIVO].svg"
VITE_PATH_LOGO_CISTEM="[RUTA_ARCHIVO].svg"
VITE_VERSION="v0.1.0-alpha"

VITE_API_APP=""
VITE_API_AUTH=""
VITE_APP_PORT=""

VITE_HOST=""
VITE_HTTPS=""
VITE_SSL_CERT=""
VITE_SSL_KEY=""

VITE_TIMEOUT="8000"